@font-face {
    font-family: hvl;
    src: url(./fonts/havelock.otf);
}

@font-face {
    font-family: atl;
    src: url(./fonts/attila.ttf);
}

@font-face {
    font-family: dnc;
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: rog;
    src: url(./fonts/RougeScript-Regular.ttf);
}

@font-face {
    font-family: jst;
    src: url(./fonts/Jost-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* font-family: montserrat; */

}

#main {
    width: 100%;
    height: 930vh;
    /* background-color: red; */
    position: relative;
    overflow: hidden;


}

.circle-hub {
    width: 100%;
    height: 930vh;
    background: linear-gradient(
        to bottom,
        #F6F6F6 0vh,
        #F6F6F6 90vh,
        #F5EFE1 150vh,
        #F5EFE1 180vh,
        #EBF4EA 310vh,
        #EBF4EA 620vh,
        #F6F6F6 800vh,
        #F6F6F6 100%
    );
    position: relative;
}

.content {
    width: 100%;
    height: 1200vh;
    /* background-color: rgba(250, 128, 114, 0.486); */
    position: absolute;
    top: 0%;
}
.jasmine-view {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EBE3CF;
    border-radius: 50%;
    left: 14%;
    top: 20vh;
    position: absolute;
    background-image: url(./assets/elements/upload-9790834f-513a-4aed-ab75-6be2fd012408.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;


}

.grey-view {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 84%;
    top: 63vh;
    position: absolute;
    background-image: url(./assets/elements/grey\ gol.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;



}

.sage-view {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #E5EEE4;
    border-radius: 50%;
    left: 45%;
    top: 76vh;
    position: absolute;
    background-image: url(./assets/elements/Picsart_26-03-26_22-03-11-620.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;



}


.hero {
    width: 100%;
    height: 95vh;
    position: relative;
    /* background-color: red; */
}

.nav {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: montserrat;
}

.nav h3 {
    font-weight: 500;
    font-size: 1.2vw;
}

.hero-img-top {
    width: 12vw;
    height: 14vw;
    background-color: black;
    position: absolute;
    top: 0%;
    left: 18vw;
    background-size: cover;
    background-position: 57% 0%;
    background-image: url(./assets/res1bed/bedroom-new-angle-res1.jpg.jpeg);
}

.hero-img-mid {
    width: 22vw;
    height: 24vw;
    background-color: black;
    position: absolute;
    top: 24%;
    right: 1vw;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/office/reception.webp);
}

.hero-img-bot {
    width: 47vw;
    height: 16vw;
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 2vw;
    background-size: cover;
    background-position: 0% 55%;
    background-image: url(./assets/office/cabin-img-for-hero-sec.jpg.jpeg);
}

.tag {
    width: 16vw;
    height: 5vw;
    background-color: transparent;
    top: 14vw;
    left: 55%;
    position: absolute;
    background-image: url(./assets/elements/int\ image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.jasmine-circle {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EBE3CF;
    border-radius: 50%;
    left: 14%;
    top: 20vh;
    position: absolute;


}

.grey-circle {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 84%;
    top: 63vh;
    position: absolute;


}

.sage-circle {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #E5EEE4;
    border-radius: 50%;
    left: 45%;
    top: 76vh;
    position: absolute;


}

.ignore {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    /* background-color: cadetblue; */
}
/* .info-layout-bg{
    width: 100%;
    height: 120vh;
    background-color: red;
} */

.information {
    width: 100%;
    height: 120vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14vw;
   
   /* background: linear-gradient(to bottom, #EBF4EA, #F6F6F6); */

    position: relative;
}



.poster {
    width: 26vw;
    /* position: absolute; */
    height: 34vw;
    /* background-color: red; */
    z-index: 4;
    /* top: 20vh; */
    /* left: 20vw; */
    background-image: url(./assets/res1kids/kids\ room\ desk\ corner.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.poster::before {
    content: "";
    position: absolute;
    width: 12vw;
    height: 32vh;
    bottom: var(--before-bottom, 0%);
    left: -20%;
    z-index: 4;
    background-image: url(./assets/res1livin/living8.webp);
    background-position: 30% 10%;
    background-size: cover;
    /* background-color: red; */
    /* display: block; */
}

.detail-txt {
    width: 30vw;
    height: fit-content;
    /* background-color: #e09e9e; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: montserrat;
    gap: 1vw;
    /* position: absolute; */
    /* right: 8%; */
    /* top: 20vh; */

}

.detail-txt h1 {
    font-weight: 400;
    width: 50%;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: -5px;
    color: rgb(60, 60, 60);
    line-height: 3.7vw;
}

.detail-txt p {
    width: 16vw;
    font-size: 0.8vw;
    margin-left: 5px;
    line-height: 1.5vw;
}

.design {
    margin-top: 5.2vw;
}

.style-txt-box {
    width: 120%;
    height: 9vh;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-style: italic;
    color: rgb(202, 177, 147);
    font-size: 4.3vw;
    font-family: rog;
    gap: 5px;
    position: absolute;
    right: -100%;
    top: 40%;
    transform: translate(0%,-4%);

}

.style-txt-box h2 {
    font-weight: 300;
}

.showcase {
    width: 100%;
    position: relative;
    /* background-color: salmon; */
}

.ribon-head {
    width: 100%;
    height: 15vh;
    position: relative;
    border-top: 2px solid #CAB193;
    border-bottom: 2px solid #CAB193;
    /* background-color: red; */

}

.ribon {
    position: absolute;
    height: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 1.5vw;
}

.ribon-elem {
    /* width: ; */
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

.ribon-elem h1 {
    font-style: italic;
    font-size: 4vw;
    font-weight: 300;
    color: rgb(202, 177, 147);
    white-space: nowrap;
}

.ribon-img {
    width: 8vw;
    height: 4vw;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    /* background-color: seagreen; */
}
.project-heading{
    display: none;
}

.visualimg {
    background-image: url(./assets/res1bed/Bedroom\(3\).webp);
}

.intdesignimg {
    background-image: url(./assets/res1livin/living7.webp);
}

.modelingimg {
    background-image: url(./assets/res1dining/dinig2.webp);
}

.first-block {
    width: 27.5vw;
    height: 29.4vw;
    background-color: transparent;

    position: absolute;
    left: 50%;
    top: 40vh;
    z-index: 12;

}

.block-img-first {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./assets/res1bed/Bedroom\(4\).webp);
    background-position: center;
    background-size: cover;
}

.block-detail {
    width: 100%;
    height: 10%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    color: #3C3C3C;
}

.block-detail-next {
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.block-detail h2 {
    font-family: montserrat;
    font-size: .8vw;
    font-weight: 500;
    margin-left: 3px;


}

.block-detail h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
}

.block-detail-next h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
    color: #3C3C3C;

}

.second-block {
    width: 39.8vw;
    height: 25vw;
    background-color: transparent;

    position: absolute;
    left: 10%;
    top: 105vh;
    z-index: 12;
}

.block-img-second {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./assets/boho/bohorestaurant\(10\).webp);
    background-position: center;
    background-size: cover;
}

.third-block {
    width: 39.8vw;
    height: 33.5vw;
    background-color: transparent;

    position: absolute;
    left: 35.7%;
    top: 175vh;
    z-index: 12;
}

.block-img-third {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./assets/res1kitch/kitchen\(4\).webp);
    background-position: center;
    background-size: cover;
}

.fourth-block {
    width: 26vw;
    height: 38vw;
    background-color: transparent;

    position: absolute;
    left: 9.5%;
    top: 240vh;
    z-index: 12;

}

.block-img-fourth {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./assets/boxroom/boxroom\ \(2\)\ reimagined\ \(1\).webp);
    background-position: center;
    background-size: cover;
}

.fifth-block {
    width: 28vw;
    height: 25vw;
    background-color: transparent;

    position: absolute;
    left: 63%;
    top: 280vh;
    z-index: 12;
}

.block-img-fifth {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./assets/parlour/parlour.jpg\ imagined.webp);
    background-position: center;
    background-size: cover;
}

.topmail {
    display: block;
}

.particleP {
    font-family: jst;
    font-size: 5vw;
    font-weight: 400;
    color: #3c3c3c2a;
    position: absolute;
    top: 68.05vh;
    left: 10vw;
    z-index: 11;
}

.particleP h1 {
    font-weight: 400;
}

.particleROJ {
    font-family: jst;
    font-size: 5vw;
    font-weight: 400;
    color: #3c3c3c2a;
    letter-spacing: -5px;
    position: absolute;
    top: 70vh;
    left: 30vw;
    z-index: 11;
    opacity: 1;
}

.particleROJ h1 {
    font-weight: 400;
}

.particleECT h1 {
    font-weight: 400;
}

.particleS h1 {
    font-weight: 400;
}

.particleECT {
    font-family: jst;
    font-size: 5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    letter-spacing: -5px;
    position: absolute;
    top: 92vh;
    left: 50vw;
    z-index: 11;
}

.particleS {
    font-family: jst;
    font-size: 5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    position: absolute;
    top: 69vh;
    left: 80vw;
    z-index: 11;
}

.ects-text{
    position: absolute;
    top: 335vh;
    font-family: jst;
    font-size: 5.1vw;
    text-transform: uppercase;
    left: 0%;
}
.ects-text h1{
    font-weight: 400;
 
    color: #EBF4EA;

    text-shadow:
        -1px -1px 0 #B8C7B3,
        1px -1px 0 #B8C7B3,
        -1px 1px 0 #B8C7B3,
        1px 1px 0 #B8C7B3;
}

.proj-text{
    position: absolute;
    top: 335vh;
    font-family: jst;
    font-size: 5.1vw;
    text-transform: uppercase;
    right: 0%;
}

.proj-text h1{
    font-weight: 400;
    /* -webkit-text-stroke: 1px #B8C7B3; */
    color: #EBF4EA;
    /* paint-order: stroke fill; */
    text-shadow:
        -1px -1px 0 #B8C7B3,
        1px -1px 0 #B8C7B3,
        -1px 1px 0 #B8C7B3,
        1px 1px 0 #B8C7B3;
}
.click-btn-caption{
    width: 100%;
    height: 40vh;
   /* background: linear-gradient(to bottom, #EBF4EA, #F6F6F6); */
    position: absolute;
    top: 360vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 20vw;

}
.click-btn{
    width: 15VW;
    height: 15VW;
    background-color: #B8C7B3;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 99;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: atl;
    color: #3C3C3C;
    font-size: 0.9vw;
    transition: all ease 0.5s;
    cursor: pointer;
}
.click-btn:hover{
   transform: translate(-50%,-50%) scale(1.1);
}
.click-btn-txt1{
    
    font-family: hvl;
    font-size: 0.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #3c3c3cb9;
    letter-spacing: -1px;
    opacity: 1;
}
.click-btn-txt2{
    
    font-family: hvl;
    font-size: 0.75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #3c3c3cb9;
    letter-spacing: -1px;
    opacity: 1;
}

.behance-sec{
    width: 100%;
    height: 130vh;
    /* background-color: red; */
    position: absolute;
    top: 400vh;
    overflow: hidden;
    
}
.card{
    width: 20vw;
    height: 30vw;
    background-color: #7070702d;
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translate(-50%,0%);
    border-radius: 1vw;
    /* border: 2px solid rgba(128, 128, 128, 0.055); */
    overflow: hidden;
    padding: 0.1vw;
    opacity: 0;
    z-index: 3;



}


.second-card{
    /* background-color: #7e72af; */
    /* background-color: #98b4a9; */

    rotate: -10deg;
    width: 20vw;
    height: 30vw;
}

.third-card{
    /* background-color: #7c938a; */
    rotate: -5deg;
}



.card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8vw;
}

.moodboard-txt{
    width: 100%;
    height: 50vh;
    /* background-color: saddlebrown; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: montserrat; */
    font-style: italic;
    font-size: 5vw;
    position: absolute;
    top: 43%;
    left: 50%;
    color: #3C3C3C;
    transform: translate(-50%,0%);
}  
.moodboard-txt span{
    display:inline-block;
    font-weight: 300;
    margin-top: 2vw;
}  

.go-to-behance-box{
    width: 100%;
    height: 50vh;
    /* background-color: salmon; */
    position: absolute;
    top: 740vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    overflow: hidden;
}
.check-txt {
    width: 60%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%,-50%);
    height: 15vh;
    /* background-color: rebeccapurple; */
    font-family: jst;
    font-weight: 380;
    white-space: nowrap;
    letter-spacing: -7px;
    color: #3C3C3C;
    opacity: 0;

}
.check-txt h1{
    font-size: 6.2vw;
    
    font-weight: 380;
 
}
.go-to-txt1 h1 {
    font-size: 7vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -6.5px;
    color: #3C3C3C;
    font-family: montserrat;
    display: block;
    opacity: 1;


}

.go-to-txt2{
    width: 70%;
    height: 15vh;
    /* background-color: darkblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;

}
.go-to-txt2 h1 {
    font-size: 6.8vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -7px;
    color: #3C3C3C;
    opacity: 1;
    font-family: montserrat;
}
.go-to-txt2 i{
    font-size: 6vw;
    color: #3C3C3C;
    rotate: -90deg;
}
.behance-logo{
    width: 9.5vw;
    height: 9.5vw;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 796vh;
    transform: translate(-50%, 0%);

    background-image: url(./assets/elements/Gemini_Generated_Image_qyyjfdqyyjfdqyyj.png);
    background-position: center;
    background-size: cover;

   cursor: pointer;
    

}
.foot{
    width: 100%;
    /* background-color: #ca4a4a; */
    height: 100vh;
    position: absolute;
   /* top: calc(796vh + 9.5vw + 20vh) ; */
   bottom: 0%;
    padding: 0vw 0vw 2vw 0vw;
   
}
.packet{
    border-radius: 50%;
    width: 20vw;
    height: 30vw;
    /* background-color: #3C3C3C; */
    background-color: #101216;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    padding: 1vw 0vw 2vw 0vw;
}

.packet-txt{
    width: 100%;
    height: 60%;
    /* background-color: green; */
    font-family: jst;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #f0f0f0;

    
}
.packet-txt h1 {
    line-height: 12vw;
}

.let{
    font-size: 11vw;
    font-weight: 300;
}
.collab{
    font-size: 11vw;
    font-weight: 300;

}
.foot-connect{
    width: 100%;
    height: 40%;
    /* background-color: #B8C7B3; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 4vw 0vw 4vw;
    border-top: 1px solid rgba(128, 128, 128, 0.387);
    border-bottom: 1px solid rgba(128, 128, 128, 0.387);
    

}
.connect-info-column{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.connect-column-one{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vw 0vw 0vw 0vw;
    gap: 0.2vw;
  

}
.connect-column-one h4{
    font-family: montserrat;
    color: #9e9d9d;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 0.5vw;
   }
   .connect-column-one h3{
       font-family: montserrat;
       color: #dedede;
       font-weight: 400;
       font-size: 1.3vw;
      }
.connect-column-two{
    width: 50%;
    height: 100%;
    /* background-color: rgb(0, 110, 255); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vw 0vw 0vw 0vw;
    gap: 0.2vw;
 



}
.connect-column-two h4{
    font-family: montserrat;
    color: #9e9d9d;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 0.5vw;

   }
   .connect-column-two h3{
       font-family: montserrat;
       color: #dedede;
       font-weight: 400;
       font-size: 1.3vw;
      }
.connect-column-three{
    width: 40%;
    height: 100%;
    /* background-color: rgb(217, 175, 175); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vw 0vw 0vw 0vw;
    
   


}
.connect-column-three h4{
 font-family: montserrat;
 color: #b6b5b5;
 font-weight: 400;
}
.connect-column-three h3{
    font-family: montserrat;
    color: #b6b5b5;
    font-weight: 400;
    font-size: 0.8vw;
    
   }
   .connect-column-three h3 span{
    font-family: montserrat;
    color: #5cb34a;
    font-weight: 400;
    font-size: 0.8vw;
   }
.connect-column-three h2{
    font-family: jst;
    color: #f9f9f9;
    font-weight: 400;
    font-size: 2.2vw;
   }




   .hero-img-top,
   .hero-img-mid,
   .hero-img-bot {
       position: absolute;
       overflow: hidden;
   
       --blur-after: 0px;
       --blur-before: 20px;
       --opacity-before: 0;
       --reveal-img: none;
   }
   
   .hero-img-top::after,
   .hero-img-mid::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: center;
       background-size: cover;
   }
   
   .hero-img-top::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: 69% 0%;
       background-size: cover;
   }
   
   .hero-img-bot::after {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: 0% 30%;
       background-size: cover;
   }
   
   
   .hero-img-mid::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: 40% 10%;
       background-size: cover;
   }
   
   .hero-img-bot::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: 0% 97%;
       background-size: cover;
   }
   
   .hero-img-top::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-position: center;
       background-size: cover;
   }
   
   
   
   .hero-img-top::after {
       background-image: url(./res1bed/Bedroom\(4\).webp);
       filter: blur(var(--blur-after));
       /* z-index: 1; */
   }
   
   .hero-img-mid::after {
       background-image: url(./res1kitch/kitchen\(6\).webp);
       filter: blur(var(--blur-after));
       /* z-index: 1; */
   }
   
   .hero-img-bot::after {
       background-image: url(proj.webp);
       filter: blur(var(--blur-after));
       /* z-index: 1; */
   }
   
   .hero-img-top::before,
  .hero-img-mid::before,
   .hero-img-bot::before {
       background-image: var(--reveal-img);
       opacity: var(--opacity-before);
       filter: blur(var(--blur-before));
       /* z-index: 2; */
   }



@media (max-width: 500px) {

    #main{
        height: 780vh;
        /* background-color: blue; */
    }
    .circle-hub {
        width: 100%;
        height: 780vh;
        background: linear-gradient(
            to bottom,
            #F6F6F6 0vh,
            #F6F6F6 90vh,
            #F5EFE1 150vh,
            #F5EFE1 180vh,
            #EBF4EA 310vh,
            #EBF4EA 620vh,
            #F6F6F6 660vh,
            #F6F6F6 100%
        );
        position: relative;
    }
    .hero-img-top {
        width: 45vw;
        height: 60vw;
        background-color: bisque;
        position: absolute;
        top: 8vh;
        left: 0%;
    }
    .nav{
        height: 8vh;
        /* background-color: red; */
    }

    .nav h3[topmail] {
        display: none !important;
    }
    
.nav h3 {
    font-weight: 500;
    font-size: clamp(0.5rem, 3.5vw, 1rem);
}


    .hero-img-mid {
        width: 50vw;
        height: 70vw;
        background-color: bisque;
        position: absolute;
        top: 50vh;
        right: -20%;

    }

    .hero-img-bot {
        width: 80vw;
        height: 37vw;
        background-color: bisque;
        position: absolute;
        top: calc(50vh + 25vw);
        left: -20%;
    }

    .tag {
        width: 40vw;
        height: 9vh;
        top: 18vh;
    }


    .grey-circle {
        width: 17.5vw;
        height: 17.5vw;
        background-color: #EAEAEA;
        border-radius: 50%;
       left:60vw;
       
   
        top: calc(50vh - (17.5vw / 2));
    }

  

    .sage-circle {
        width: 17.5vw;
        height: 17.5vw;
        background-color: #E5EEE4;
        ;
        border-radius: 50%;
        left: 48vw;
        top: calc(50vh + 25vw + 37vw - (17.5vw / 2));
    }

 
    .jasmine-circle {
        width: 17.5vw;
        height: 17.5vw;
        /* Wrapper ko wahan rakho jahan se movement SHURU honi hai */
        left:0vw;
        top:calc(8vh + 60vw - (17.5vw / 2));

    }
    
.jasmine-view {
    width: 17.5vw;
    height: 17.5vw;
    /* Wrapper ko wahan rakho jahan se movement SHURU honi hai */
    left:0vw;
    top:calc(8vh + 60vw - (17.5vw / 2));


}

.grey-view {
    width: 17.5vw;
    height: 17.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
   left:60vw;
   

    top: calc(50vh - (17.5vw / 2));


}

.sage-view {
    width: 17.5vw;
    height: 17.5vw;
    background-color: #E5EEE4;
    ;
    border-radius: 50%;
    left: 48vw;
    top: calc(50vh + 25vw + 37vw - (17.5vw / 2));


}
    .information {
        height: 115vh;
        /* background-color: aqua; */
        flex-direction: column;
        justify-content: flex-start;
        
        
    }

    .poster {
        width: 90%;
        /* position: absolute; */
        /* height: 40vw; */
        height:  calc(50% - 5vh);
        /* background-color: red; */
        z-index: 4;
        /* top: 10vh; */
        /* left: 20vw; */
        /* background-image: url(./res1kids/kids\ room\ desk\ corner.webp); */

        background-position: center;
        background-size: cover;
    }

   

    .detail-txt {

        display: flex;
        /* background-color: red; */
        flex-direction: column;
        font-family: montserrat;
        height: calc(50% - 10vh);
        width: 95%;
        /* position: absolute; */
        /* top: 8vh; */
        /* left: 60%; */
      
        z-index: 5;

    }

    .detail-txt h1 {
        font-weight: 400;
        text-transform: uppercase;
        font-size:12vw;
        letter-spacing: -2px;
        color: #3C3C3C;
        line-height: 13vw;
        z-index: 5;

    }

    .design{
        margin-top: 12vw;
        margin-bottom: 1.5vw;
    }

    .style-txt-box {
        width: 200vw;
        height: 10vh;
        background-color: transparent;
        position: absolute;
        top: calc(50% - 5vh  + 5vw + 44vw);
        right: -160%;
        opacity: 1;
        overflow: hidden;
        font-size: 11vw;
        white-space: nowrap;

    }

    .detail-txt p {
        width: 70%;
        font-size: 2.8vw;
        margin-left: 4px;
        line-height: 4vw;
        font-weight: 400;
        z-index: 5;

    }

    .ribon-head {
        width: 230vw;
        height: 10vh;
        position: absolute;
        top: 0%;
        left: -1%;
        background-color: transparent;
        border: 2px solid #CAB193;
        display: flex;
        gap: 20px;
        align-items: center;
        z-index: 11;
        z-index: 5;

    }
    .ribon-elem h1{
        font-size: 9vw;
    }
    .ribon-img{
        width: 26vw;
        height: 13vw;
    }
    .showcase {
        width: 100vw;
        height: 500vh;
        /* background-color: #e1f5e7; */

        /* margin-top: 66vh; */
        position: relative;


    }

    .first-block {
        width: 95%;
        height: 95vw;
        background-color: transparent;

        position: absolute;
        left: 50%;
        top: 30vh;
        z-index: 12;
        transform: translate(-50%, 0%);
    }

    .second-block {
        width: 95%;
        height: 55vw;
        background-color: transparent;

        position: absolute;
        left: 50%;
        top: calc(30vh + 110vw);
        z-index: 12;
        transform: translate(-50%, 0%);
    }

    .third-block {
        width: 95%;
        height: 83vw;
        background-color: transparent;

        position: absolute;
        left: 50%;
        top: calc(30vh + 180vw);
        
        z-index: 12;
        transform: translate(-50%, 0%);
    }

    .fourth-block {
        width: 95%;
        height: 140vw;
        background-color: transparent;

        position: absolute;
        left: 50%;
        top: calc(30vh + 278vw);
        
        z-index: 12;
        transform: translate(-50%, 0%);
    }

    .fifth-block {
        width: 95%;
        height: 80vw;
        background-color: transparent;

        position: absolute;
        left: 50%;
        top: calc(30vh + 423vw);
        
        z-index: 12;
        transform: translate(-50%, 0%);
    }

    .block-detail h3{
        font-size: 2.3vw;
    }
    .block-detail h2{
        font-size: 3vw;
    }
    .block-detail-next h3{
        font-size: 2.3vw;
    }

    .click-btn-caption{
        width: 100%;
        height: 30vh;
     /* background-color: red; */
        
        top: calc(30vh + 515vw) ;
   
        padding: 0vw 5vw;
    
    }
    .click-btn{
        width: 40VW;
        height: 40VW;
       
        font-size: 2.3vw;

    }
    
.click-btn-txt1{
    
    font-family: hvl;
    font-size: 1.7vw;
    display: none;
}
.click-btn-txt2{
    
    font-family: hvl;
    font-size: 1.7vw;
    display: none;
 
}
.project-heading{
    display: flex;
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    position: absolute;
    top: 15vh;
    align-items: center;
    justify-content: center;
    font-family: jst;
    font-size: 9vw;
    color: #3C3C3C;
}
.project-heading h1{
  font-weight: 400;
}
.particle{
    display: none;
}
.proj-text{
    position: absolute;
    top: calc(30vh + 515vw + 10vh) ;
    height: 10vh;
    
    font-family: jst;
    font-size: 6.1vw;
    text-transform: uppercase;
    right: 0%;
    display: flex;
    align-items: center;
    
}
.ects-text{
    position: absolute;
    top: calc(30vh + 515vw + 10vh) ;
    height: 10vh;
    font-family: jst;
    font-size: 6.1vw;
    text-transform: uppercase;
    /* background-color: red; */
    display: flex;
    align-items: center;
    left: 0%;
}

.behance-sec{
    width: 100%;
    height: 150vh;
    /* background-color: red; */
    position: absolute;
    top: calc(30vh + 515vw + 40vh) ;
    
    overflow: hidden;
    
}
.card{
    width: 60vw;
    height: 80vw;
    background-color: #7070702d;
    position: absolute;
    left: 50%;
    top: 150%;
    transform-origin: center center;
    border-radius: 1.6vw;
    /* border: 2px solid rgba(128, 128, 128, 0.055); */
    overflow: hidden;
    padding: 0.1vw;
    opacity: 0;
    z-index: 3;



}


.second-card{
    /* background-color: #7e72af; */
    /* background-color: #98b4a9; */

    rotate: -10deg;
    width: 60vw;
    height: 80vw;
}

.third-card{
    /* background-color: #7c938a; */
    rotate: -5deg;
}



.card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8vw;
}

.moodboard-txt{
    width: 100%;
    height: 10vh;
    /* background-color: saddlebrown; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: montserrat; */
    font-style: italic;
    font-size: 6vw;
    position: absolute;
    top: calc(5% + 90vw );
    left: 50%;
    color: #3C3C3C;
    transform: translate(-50%,0%);
}  
.moodboard-txt span{
    display:inline-block;
    font-weight: 300;
    margin-top: 2vw;
}  

.go-to-behance-box{
    width: 100%;
    height: 30vh;
    /* background-color: salmon; */
    position: absolute;
    top: calc(30vh + 515vw + 340vh) ;
    padding: 2vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 5;
    overflow: hidden;
}
.check-txt {
    width: 60%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%,-50%);
    height: 15vh;
    /* background-color: rebeccapurple; */
    font-family: jst;
    font-weight: 380;
    white-space: nowrap;
    letter-spacing: -4px;
    color: #3C3C3C;
    opacity: 0;

}
.check-txt h1{
    font-size: 13vw;
    
    font-weight: 320;
    /* line-height: 8vw; */

 
}
.go-to-txt1 h1 {
    font-size: 12vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -4px;
    color: #3C3C3C;
    font-family: montserrat;
    display: block;
    opacity: 1;
    line-height: 8vw;


}

.go-to-txt2{
    width: 70%;
    height: 15vh;
    /* background-color: darkblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    margin-left: 20%;

}
.go-to-txt2 h1 {
    font-size: 12vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -7px;
    color: #3C3C3C;
    opacity: 1;
    font-family: montserrat;
    line-height: 8vw;

   
}
.go-to-txt2 i{
    font-size: 13vw;
    color: #3C3C3C;
    rotate: -90deg;
}
.behance-logo{
    width:28vw;
    height: 28vw;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: calc(30vh + 515vw + 372vh) ;
    
    transform: translate(-50%, 0%);

    background-image: url(./assets/elements/Gemini_Generated_Image_qyyjfdqyyjfdqyyj.png);
    background-position: center;
    background-size: cover;

   cursor: pointer;
    

}

.foot{
    width: 100%;
    /* background-color: #d74c4c; */
    height: 100vh;
    position: absolute;
    bottom: 0%;
    padding: 0vw 0vw 2vw 0vw;
}
.packet{
    border-radius: 50%;
    width: 20vw;
    height: 30vw;
 
    /* background-color: #3C3C3C; */
    background-color: #101216;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
    overflow: hidden;
    padding: 1vw 0vw 2vw 0vw;
}

.packet-txt{
    width: 100%;
    height: 40%;
    /* background-color: green; */
    font-family: jst;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: #f0f0f0;

    
}
.packet-txt h1 {
    line-height: 14vw;
}

.let{
    font-size: 15vw;
    font-weight: 300;
}
.collab{
    font-size: 13vw;
    font-weight: 300;

}
.foot-connect{
    width: 100%;
    height: 55%;
    /* background-color: #B8C7B3; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 0vw 2vw 0vw 2vw;
    border-top: 1px solid rgba(128, 128, 128, 0.387);
    border-bottom: 1px solid rgba(128, 128, 128, 0.387);
}

    .connect-info-column{
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
        padding: 0vw 2vw;
    }
    .connect-column-one{
        width: 50%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4vw 0vw 0vw 0vw;
        gap: 2vw;
      
    
    }
    .connect-column-one h4{
        font-family: montserrat;
        color: #9e9d9d;
        font-weight: 400;
        font-size: 3vw;
        margin-bottom: 0.5vw;
       }
       .connect-column-one h3{
           font-family: montserrat;
           color: #dedede;
           font-weight: 400;
           font-size: 3.5vw;
          }
    .connect-column-two{
        width: 50%;
        height: 100%;
        /* background-color: rgb(0, 110, 255); */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4vw 0vw 0vw 0vw;
        gap: 2vw;
     
    
    
    
    }
    .connect-column-two h4{
        font-family: montserrat;
        color: #9e9d9d;
        font-weight: 400;
        font-size: 3vw;
        margin-bottom: 0.5vw;
    
       }
       .connect-column-two h3{
           font-family: montserrat;
           color: #dedede;
           font-weight: 400;
           font-size: 3.5vw;
          }
    .connect-column-three{
        width: 100%;
        height: 40%;
        /* background-color: rgb(217, 175, 175); */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2vw;
        padding: 4vw 0vw 0vw 0vw;
        
       
    
    
    }
    .connect-column-three h4{
     font-family: montserrat;
     color: #b6b5b5;
     font-weight: 400;
    }
    .connect-column-three h3{
        font-family: montserrat;
        color: #b6b5b5;
        font-weight: 400;
        font-size: 4vw;
        
       }
       .connect-column-three h3 span{
        font-family: montserrat;
        color: #5cb34a;
        font-weight: 400;
        font-size: 2vw;
       }
    .connect-column-three h2{
        font-family: jst;
        color: #f9f9f9;
        font-weight: 400;
        font-size: 6vw;
       }

}


@media (max-height: 690px) {
    #main {
        height:840vh;
    }
    .circle-hub {
        height: 840vh;
    }
    
    .content{
        height: 1220vh;
    }
    .information{
        height: 135vh;
    }
    .go-to-behance-box{
    
        top: calc(30vh + 515vw + 355vh) ;
  
    }
    .behance-logo{
    top: calc(30vh + 515vw + 382vh) ;

    }
}
@media (max-height: 654px) {
    #main {
        height:840vh;
    }
    .circle-hub {
        height: 840vh;
    }
    .go-to-behance-box{
    
        top: calc(30vh + 515vw + 380vh) ;
  
    }
  
    
}
@media (max-height: 600px) {
    #main {
        height:870vh;
    }
    .circle-hub {
        height: 870vh;
    }
    
}
/** For device widths between 360px and 400px AND heights between 700px and 730px */
@media (min-width: 360px) and (max-width: 400px) and (min-height: 701px) and (max-height: 730px) {
    #main {
        height:860vh;
    }
    .circle-hub {
        height: 860vh;
    }
    
 

}
@media (min-width: 401px) and (max-width: 420px) and (min-height: 701px) and (max-height: 730px) {
    #main {
        height:860vh;
    }
    .circle-hub {
        height: 860vh;
    }
    
 

}
@media (min-width: 401px) and (max-width: 435px) and (min-height: 731px) and (max-height: 798px) {
    #main {
        height:820vh;
    }
    .circle-hub {
        height: 820vh;
    }
    
 

}